body{
    background: #e2e1e0;
}

h1{
    font-size: 2rem;
    text-align: center;
}

h4{
    text-align: center;
    margin: 0.625rem;
}

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menu .cuadro-menu{
    margin: 1rem;
    background: #fff;
    border-radius: 1rem;
    height: auto;
    width: 25rem;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row div{
    padding: 3%;
    border-radius: 0.313rem;
    text-align: right;
}

.contenedor-titulo-alimento{
    float: right;
    padding-right: 2rem;
}

small{
    width: 70%;
    margin-left: 0.5rem;
    margin-top: -0.5rem;
}

.sandwich{
    margin-top: 6rem;
}

/* Titulos del menu */
.titulo-cafeteria{
    background-color: rgb(255, 208, 0);
    padding: 1.4rem;
    border-radius: 1.875rem;
}

.titulo-sandwich{
    background-color: bisque;
    padding: 1.4rem;
    border-radius: 1.875rem;
}