body{
    background: #e2e1e0;
}

h1{
    font-size: 2rem;
    text-align: center;
}

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menu .cuadro-menu{
    margin: 1rem;
    background: #fff;
    border-radius: 0.313rem;
    height: 12.5rem;
    width: 25rem;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row div{
    padding: 3%;
    border-radius: 0.313rem;
    text-align: right;
}
