body{
    background-color: #050531;
}

.main{
    width: 56.25rem;
    background-color: #6495ED;
    padding: 3rem 1.25rem;
    margin: 10% auto;
    margin-bottom: 0rem;
    border-radius: 1.6875rem;
    color: #fff;
    font-size: 1.375rem;
}

.contenedor{
    padding: 0rem 1.25rem;
}

.linea3,
.linea4{
    display: flex;
    justify-content: center;
}

.confirmacion{
    padding-right: .9375rem;
}

.columna1,
.columna2{
    display: flex;
    align-items: center;
    width: 50%;
}

.columna1{
    padding-right: .9375rem;
}

.subpart1{
    width: 40%;
}

input{
    width: 60%;
    border: none;
    border-bottom: .0625rem solid #000;
    background-color: transparent;
    padding: .3125rem;
}

input:focus-visible {
    outline: none;
}

.boton-reserva{
    padding: 1.3rem;
    border-radius: 0.625rem;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: #f48403;
    font-weight: bold;
    transition: .5s;
    letter-spacing: 0.3rem;
}

.boton-reserva:hover{
    color: #fff;
    background-color: #f48403;
}