/* .main{
    width: 900px;
    background-color: antiquewhite;
    padding: 0px 20px;
    margin: 0px auto;
    padding-bottom: 50px;
}

.container{
    padding: 0px 20px;
    margin-bottom: 10px;
}

.linea3{
    display: flex;
    align-items: center;
}

.part6, .part7{
    display: flex;
    width: 50%;
    align-items: center;
}

.subpart1{
    width: 50%;
}

.subpart2{
    width: 50%;
}

.input1{
    border: none;
    border-bottom: 1px solid #000;
    background-color: #e6e6e66b;
    padding: 5px;
} */


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1, a{
    width: 100%;
    text-align: center;
    background-color: aqua;
}

form{
    width: 30%;
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem;
    margin-bottom: 3%;
}

form label, form input{
    margin-bottom: 0.8rem;
}

form label{
    width: 35%;
}

form input{
    width: 65%;
}

form button{
    align-self: center;
    margin-top: 0.8rem;
    width: 100%;
}