*{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0rem;
}

h1{
    text-align: center;
}

/* Barra de navegación */
header{
    background-color: #fff;
}

.barra-navegacion {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    padding-bottom: 1.25rem;
}

.barra-navegacion ul{
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 1.2rem;
}

.barra-navegacion ul li{
    padding: 0rem 10rem;
}

.barra-navegacion ul li a{
    color: #1e1f26;
}

.barra-navegacion ul li a:hover{
    border-bottom: .25rem solid #d74898;
}



/*  ################ Página de Inicio ################  */

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    height: 100%;
    width: auto;
}
/* Fin barra navegación */

hr{
    margin: 0rem;
}

/* Inicio */
/* Banner de la página inicio */
#logo-inicio img{
    width: 100%;
    height: auto;
}


.button-menu{ /* Boton para acceder al menu */
    font-size: 1.875rem;
    background-color: #fd7701;
    padding: 2rem;
    border-radius: 2rem;
}

.imagen-banner{
    z-index: 5; /* Mandar el objeto atras */
}

.boton-menu{
    z-index: 0;
    display: flex;
    justify-content: center;
    margin-top: -20rem;
}
/* Fin Inicio */


/* Redes Sociales */
footer{
    margin-top: 13rem;
}

footer h2{
    text-align: center;
}

#redes ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

#redes p{
    text-align: center;
}

.fa-brands{
    color: #000000;
    font-size: 2rem;
}

.fa-brands:hover{
    color: #ff9100;
    transform: scale(1.3);
}
/*  ################################### Fin Página de Inicio ###################################  */

/*  ################################### Página Login ###################################  */

.container-login{
    display: flex;
    justify-content: center;
}

.container-login .cuadro-login{
    margin-top: 11rem;
    background-color: #1d2776be;
    padding: 4rem;
    border-radius: 0.625rem;
}

.container-login h2{
    margin: 0 0 1.875rem;
    color: #fff;
    text-align: center;
    letter-spacing: 0.460rem;
}

.cuadro-input input{
    width: 100%;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1.875rem;
    border: none;
    border-bottom: 0.063rem solid #fff;
    outline: none;
    background-color: transparent;
}

.cuadro-input label{
    font-size: 1.4rem;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.cuadro-login a{
    margin-left: 15rem;
}

.cuadro-login button{
    padding: 1.3rem;
    border-radius: 0.625rem;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: #f48403;
    font-weight: bold;
    transition: .5s;
    letter-spacing: 0.3rem;
}

.cuadro-login button:hover{
    color: #fff;
    background-color: #f48403;
}

/*  ################################### Fin Página Login ###################################  */

/*  ################################### Selección de usuario ###################################  */

.usuario-login{
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.usuario-cuadro{
    padding: 10rem;
    background-color: #0051ff;
    border-radius: 2rem;
}

.usuario-cuadro a{
    color: #000000;
    padding: 1rem;
    background-color: #fd7701;
    font-size: 1.875rem;
    border-radius: 1rem;
    margin: 2rem;
}

.usuario-cuadro a:hover{
    color: #fff;
}
/*  ################################### Fin Selección de Usuario ###################################  */


/*  ################################### Usuario Mesero ###################################  */

/* Barra Navegación del Mesero */
.navbar-usuario{
    background-color: #ffffff;
    height: 100%;
}

.navbar-usuario ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.2rem;
    padding-left: 0%;
}
/* Fin de la Barra de navegación del Mesero */

.borde-contenedor{
    /* Estilos para ordenar las mesas */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0; /* Esto lo que hace es hacer una separación entre los cuadrados de grid */
    grid-template-areas:"mesa1 mesa2 mesa2 mesa3" 
                        "mesa4 mesa5 mesa6 mesa10"
                        "mesa7 mesa8 mesa9 mesa10"; /*Defino el espacio que va a ocupar cada celda en toda el grid (Esto solo se le aplica a cada contenedor de la mesa*/

    /* Estilos del contenedor */
    margin: 2rem;
    height: 80vh;
    border: .3125rem solid #000;
    border-radius: 1rem;
    background-color: #5965B1;
}

.contenedor-mesas{
    display: flex;
    justify-content: center;
    align-items: center; /*Con esto centro el boton dentro de todas las mesas*/
}

/* Se le aplica a cada cuadrado el area de grid que va a usar. Investigar si existe una manera más eficiente a esta */
.mesa1{
    grid-area: mesa1;
}

.mesa2{
    grid-area: mesa2;
}

.mesa3{
    grid-area: mesa3;
}

.mesa4{
    grid-area: mesa4;
}

.mesa5{
    grid-area: mesa5;
}

.mesa6{
    grid-area: mesa6;
}

.mesa7{
    grid-area: mesa7;
}

.mesa8{
    grid-area: mesa8;
}

.mesa9{
    grid-area: mesa9;
}

.mesa10{
    grid-area: mesa10;
}
/* Fin de el area que usan las mesas */

/* Estilos de la mesa */
.mesas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12.5rem;
    width: 12.5rem;
    border: .125rem solid #000000 ;
    border-radius: 9rem;
    background-color: #ebeaea;
}

.mesa-rectangular-h{ /* Mesa numero 2 Horizontal */
    height: 12.5rem;
    width: 41.5rem;
    border-radius: 2rem;
}

.mesa-rectangular-v{ /* Mesa numero 10 Vertical */
    height: 28.75rem;
    width: 12.5rem;
    border-radius: 2rem;
}
/* Fin de los estilos de las mesas */

.mesas button{
    border: none;
    background-color: transparent;
    padding: 1rem;
}

.mesas button:hover{
    background-color: #fd7701;
    color: #fff;
    font-weight: bold;
    border-radius: 2rem;
    transform: scale(1.15);
}

/* ################################### Usuario Cocinero ################################### */

.contenedor-pedidos{
    /* Propiedades del grid */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.25rem;

    /* Estilos */
    margin: 2rem;
}

.cards{
    height: 15.625rem;
    border: 2px solid #000;
}

/* Estilos de la barra de Mesa y tiempo */
.barra-pedido{
    display: flex;
    justify-content: space-between;
    background-color: #0051ff;
}

.barra-pedido h2, small{
    margin: .8rem .6rem;
}

.barra-pedido h2{
    color: #ffffff;
}

.barra-pedido small{
    color: #ff0000;
    font-weight: bold;
}

/* Fin Estilos de la barra de Mesa y tiempo */

